.header-container {
  display: flex;
  font-family: Futura;
  color: #e0e0e0;
  align-items: center;
  padding: 10px 2%;
}

.header-title-mobile{
  display: none;
}

.header-container .branding {
  display: flex;
  align-items: center;
}

.header-container h1 {
  font-size: 40px;
}

.nav {
  color: #e0e0e0;
  display: flex;
  font-size: 20px;
  flex: 3;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.header-container a {
  color: #e0e0e0;
  text-decoration: none;
}

.nav p:hover {
  cursor: pointer;
}

.profile {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.profile img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
}

.header-container .active {
  background-color: #6f5eed;
  padding: 10px 15px;
  border-radius: 25px;
}

.header-logo-mobile{
  display: none;
}


@media(max-width: 900px){
  .nav{
    display: none;
  }
}

@media(max-width: 700px){
  .header-logo-mobile{
    display: block;
  }

  .header-logo-web{
    display: none;
  }

  .header-container h1 {
    font-size: 35px;
  }

  
  .profile{
    flex: 0;
    padding-left: 10px;
  }

  .header-container{
    justify-content: space-between;
  }

}

