.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


@media(max-width: 900px){

  ::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}