* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161718;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext"),
    url("./assets/fonts/AvenirNext.ttf") format("truetype");
}

@font-face {
  font-family: "Futura";
  src: local("Futura"), url("./assets/fonts/Futura.ttf") format("truetype");
}

input {
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
}

input::-webkit-selection {
  text-shadow: transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #212325;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
